* {
    padding: 0;
    margin: 0;
}

body {

    height: 100vh;
    background-color:#000115;
}
nav{
    background-color: #333;
    color: white;
    padding: 15px 0;
    margin-bottom: 20px;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    perspective: 1000px;
}

.card {
    position: relative;
    width: 380px;
    height: 250px;
    transform-style: preserve-3d;
    transition: transform 1s;
    box-shadow: 5px 5px 30px 2px rgba(0, 0, 0, 0.5);
        border-radius: 30px;
}

.front,
.back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 110%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    backface-visibility: hidden;
    border-radius: 30px;

}

.front {
    background-color: #4CAF50;
    color: white;
    font-size: 24px;
    transform: rotateY(0deg);
}

.back {
    background-color: #2196F3;
    color: white;
    font-size: 24px;
    transform: rotateY(180deg);
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.img1,
.img2 {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.butt {
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #333;
    color: white;
}

.web {
    background-color: #008b90;
}

.wp {
    background-color: #25D366;
}

.QR {
    background-color: #636161;
}

.flip {
    background-color: #770362;
}

.butt:hover {
    background-color: #555;
}


.card.visible {
    display: none !important;
}

.qr.visible {
    display: block !important;
}

.qr {
    display: none;
    width: 300px;
    height: 300px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 900;
}

@media (max-width: 500px) {
    .card {
        width: 300px;
        height: 200px;
    }
    img{
        border: 2px solid white; ;
    }
    h1{
        font-size: 15px;
    }
    .butt{
        padding: 8px 20px;
        font-size: 10px;
    }
    .main{
        justify-content: center;
        align-items: center;
    }
}